<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Registration form</title>
<!-- link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" / -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcnd.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #ededed;">
	<div style="background-color:#337ab7; height: 50px;"></div>
	<div class="container-fluid" style="margin-top: 30px;">
		
		<div class="row col-lg-4 col-lg-offset-4" style="margin-top: 40px; background-color: #fff; padding: 20px">
			<form autocomplete="off" action="/register/save" th:object="${userAccount}" method="post"  class="form-signin" role="nevim co tu ma byt">
				<h3 class="form-signin-heading">Registration Form</h3>
				<div class="form-group">
					<div class="" >	
						<input type="text"  th:field="*{userName}"  placeholder="user name"  class="form-control"  />
					</div>
				</div> <!-- konec form group s User Name -->
			
			<div class="form-group">
					<div class="" >
						<input type="text"  th:field="*{email}"  placeholder="email"  class="form-control" />
					</div>
				</div> <!-- konec form group s emailem-->
			
			<div class="form-group">
					<div class="" >
						<input type="password"  th:field="*{password}"  placeholder="password"  class="form-control" />
					</div>
				</div> <!-- konec form group s password-->			
				
				<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
				
				<div class="form-group">
					<div class="" >
						<button type="submit"  class="btn btn-primary btn-block">Register User</button>
					</div>
				</div> <!-- konec form group se submit button -->	
			</form>		
		</div>
		
		</div>
		
		</body>
</html>